<a href="https://colab.research.google.com/github/abidshafee/A-Path-Finding-Visualization/blob/master/DataScience_Foundation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data reduction or Dimentionality reduction

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import scale
from sklearn.decomposition import PCA

In [30]:
from google.colab import files
uploaded = files.upload()

Saving ClusterData.csv to ClusterData.csv

In [6]:
df = pd.read_csv('Game_Logs_Offensive_Line.csv')

In [29]:
df[['Week', 'Score']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130049 entries, 0 to 130048
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Week    130049 non-null  int64
 1   Score   130049 non-null  object
dtypes: int64(1), object(1)
memory usage: 2.0+ MB

In [17]:
# list the column variable with the data
ldf = list(df.columns.values)

In [19]:
len(ldf)

15

In [9]:
# df['FirstName'] = df[['Name']].apply(lamda x: x.split(',')[0])
# df['Name'].isnull().sum()

'''
You can use str.split to split the strings, then test the number of splits using str.
len and use this as a boolean mask to assign just those rows with the last component of the split:
'''
# spliting LastName
df.loc[df['Name'].str.split().str.len() == 2, 'LastName'] = df['Name'].str.split().str[-1]

# splitting FirstName
df.loc[df['Name'].str.split().str.len() == 2, 'FirstName'] = df['Name'].str.split().str[0]

In [10]:
df

                    Player Id             Name  ... LastName  FirstName
0            jeffnady/2541732       Nady, Jeff  ...     Jeff      Nady,
1          chrisriley/2530729     Riley, Chris  ...    Chris     Riley,
2          chrisriley/2530729     Riley, Chris  ...    Chris     Riley,
3          chrisriley/2530729     Riley, Chris  ...    Chris     Riley,
4          chrisriley/2530729     Riley, Chris  ...    Chris     Riley,
...                       ...              ...  ...      ...        ...
130044  stephengoodin/2535931  Goodin, Stephen  ...  Stephen    Goodin,
130045  stephengoodin/2535931  Goodin, Stephen  ...  Stephen    Goodin,
130046  stephengoodin/2535931  Goodin, Stephen  ...  Stephen    Goodin,
130047  stephengoodin/2535931  Goodin, Stephen  ...  Stephen    Goodin,
130048  stephengoodin/2535931  Goodin, Stephen  ...  Stephen    Goodin,

[130049 rows x 15 columns]

In [14]:
# converting dataframe to numpy object using 'values' attributes 
x = df.values
df.describe()

                Year           Week   Games Played
count  130049.000000  130049.000000  130049.000000
mean     1998.308707       8.481226       0.854539
std        13.607618       5.329845       0.352566
min      1970.000000       0.000000       0.000000
25%      1987.000000       4.000000       1.000000
50%      2001.000000       8.000000       1.000000
75%      2010.000000      13.000000       1.000000
max      2016.000000      23.000000       1.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130049 entries, 0 to 130048
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Player Id      130049 non-null  object
 1   Name           130049 non-null  object
 2   Position       28678 non-null   object
 3   Year           130049 non-null  int64
 4   Season         130049 non-null  object
 5   Week           130049 non-null  int64
 6   Game Date      130049 non-null  object
 7   Home or Away   130049 non-null  object
 8   Opponent       130049 non-null  object
 9   Outcome        130049 non-null  object
 10  Score          130049 non-null  object
 11  Games Played   130049 non-null  int64
 12  Games Started  130049 non-null  object
 13  LastName       128977 non-null  object
 14  FirstName      128977 non-null  object
dtypes: int64(3), object(12)
memory usage: 14.9+ MB

In [15]:
x

array([['jeffnady/2541732', 'Nady, Jeff', nan, ..., '0', 'Jeff', 'Nady,'],
       ['chrisriley/2530729', 'Riley, Chris', nan, ..., '0', 'Chris',
        'Riley,'],
       ['chrisriley/2530729', 'Riley, Chris', nan, ..., '0', 'Chris',
        'Riley,'],
       ...,
       ['stephengoodin/2535931', 'Goodin, Stephen', nan, ..., '0',
        'Stephen', 'Goodin,'],
       ['stephengoodin/2535931', 'Goodin, Stephen', nan, ..., '0',
        'Stephen', 'Goodin,'],
       ['stephengoodin/2535931', 'Goodin, Stephen', nan, ..., '0',
        'Stephen', 'Goodin,']], dtype=object)

In [ ]:
df.isna().sum()

Player Id             0
Name                  0
Position         101371
Year                  0
Season                0
Week                  0
Game Date             0
Home or Away          0
Opponent              0
Outcome               0
Score                 0
Games Played          0
Games Started         0
LastName           1072
FirstName          1072
dtype: int64

## Statistical Function in NumPy
### x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 - **a = np.arrange(x)**\
 - **b = np.median(x)**\
 - **c = np.average(x)**
 - **d = np.mean(x)**
 - **e = np.std(a) #standard deviation**
 - **d = np.var(a) #varience**
 - **np.histogram(a)**

# Clustering Data

In [31]:
data = pd.read_csv('ClusterData.csv')

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              48 non-null     object
 1   state_code         48 non-null     object
 2   data science       48 non-null     float64
 3   cluster analysis   48 non-null     float64
 4   college            48 non-null     float64
 5   startup            48 non-null     float64
 6   entrepreneur       48 non-null     float64
 7   ceo                48 non-null     float64
 8   mortgage           48 non-null     float64
 9   nba                48 non-null     float64
 10  nfl                48 non-null     float64
 11  mlb                48 non-null     float64
 12  fifa               48 non-null     float64
 13  modern dance       48 non-null     float64
 14  prius              48 non-null     float64
 15  escalade           48 non-null     float64
 16  subaru             48 non-null     float64
 17  jello              48 non-null     float64
 18  bbq                48 non-null     float64
 19  royal family       48 non-null     float64
 20  obfuscation        48 non-null     float64
 21  unicorn            48 non-null     float64
 22  Extraversion       48 non-null     float64
 23  Agreeableness      48 non-null     float64
 24  Conscientiousness  48 non-null     float64
 25  Neuroticism        48 non-null     float64
 26  Openness           48 non-null     float64
 27  PsychRegions       48 non-null     int64
 28  region             48 non-null     int64
 29  division           48 non-null     int64
dtypes: float64(25), int64(3), object(2)
memory usage: 11.4+ KB

In [34]:
data.describe()

       data science  cluster analysis  ...     region   division
count     48.000000         48.000000  ...  48.000000  48.000000
mean      -0.000833         -0.012500  ...   2.604167   4.958333
std        0.971397          0.972073  ...   1.046566   2.483634
min       -1.270000         -1.700000  ...   1.000000   1.000000
25%       -0.662500         -0.730000  ...   2.000000   3.000000
50%       -0.235000         -0.135000  ...   3.000000   5.000000
75%        0.352500          0.412500  ...   3.000000   7.000000
max        2.730000          2.910000  ...   4.000000   9.000000

[8 rows x 28 columns]